@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.bodyfull{
     margin: 0px;
    padding: 0px;
    font-family: 'Railway', sans-serif;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;

        .left-section{
        background-image: linear-gradient(0deg, #3BBCA0 70%,#a3e4d6 );
       width:50%;
       height: 980px;
                
       .header{
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        align-items: center;
       
                .logo{

                }
                .header_text{
                color: white;
                font-style: bold;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Raleway';
                }
       }
    .Heading
       {
        font-size: 80px;
        color: white;
        margin-left: 20%;
        margin-right: 30%;
        font-weight: 700;
        margin-top: 22%;
       }

        }
        .right-section{
         
        height: 100%;
        display: flex;
        flex-direction: column;
         gap: 1rem;
         width:50%;
        

          .form_heading{
            color: #3BBCA0;
            margin-left: 10%;
            font-weight: 500;
            font-size: 25px;
            margin-top: 30%;
            margin-bottom: 5%;
            font-family: 'Raleway';

          }
            ::ng-deep {
            .p-field {
              color: red;
              display: flex;
              flex-direction: column;
              width: 100%;
               .email{
                  display: flex;
                  gap: 1rem;
                  justify-content: left;
                  padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
                  align-items: center;
                  
                  .email_icon{
                      height: 1rem;
                      width:1rem;
                      margin-left: 10%;
                      align-self: flex-end;
                     
                  }
                  ::ng-deep {
                  .p-input{
                      border: none;
                      width: 70%;
                     text-align:left;
                     border-color: #3BBCA0;
                     }
                  }
                
                  
               }
               hr{
                  border: 1px solid rgb(181, 184, 181);
                  margin-left: 10%;
                  width : 70%;
                }
             .password{
            
               display: flex;
               gap: 1rem;
               justify-content: left;
               padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
               align-items: center;

               .password_icon{
                   height: 1rem;
                   width:1rem;
                   margin-left: 10%;
                   align-self: flex-end;

               }
               .p-input{
                      border: none;
                      width: 70%;
                      align-self: flex-end;
               }
            }
            .p-error{
               margin-left: 10%;
            }
          
             }
             .p-button{
               background-color: #3BBCA0;
               border:1px #3BBCA0;
               margin-left: 35%;
            }
            }
            
        
        }
}